*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter;
  min-height: 100vh;
}

button {
  font: inherit;
  display: block;
  border: none;
  background: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

header {
  display: flex;
  padding-block: 2em;
}
header nav {
  margin-left: auto;
}
header nav .close-menu {
  display: none;
}
header ul {
  display: flex;
  gap: 2rem;
}
header ul li:hover {
  cursor: pointer;
  color: hsl(35deg, 77%, 62%);
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-flow: row;
  gap: 2em;
}
main aside {
  background-color: hsl(240deg, 100%, 5%);
  color: white;
  padding: 2em;
}
main aside h2 {
  color: hsl(35deg, 77%, 62%);
  font-size: 1.7rem;
  margin-bottom: 1em;
}
main aside .news h3:hover {
  color: hsl(35deg, 77%, 62%);
  cursor: pointer;
}
main aside .news:not(:last-of-type) {
  border-bottom: 1px solid hsl(236deg, 13%, 42%);
  padding-bottom: 2em;
  margin-bottom: 2em;
}
main aside .news h3 {
  margin-bottom: 0.5em;
}
main .main-section {
  grid-column: span 2;
  padding: 0;
}
main .headline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 1.5em;
}
main .headline h1 {
  font-size: 3.5rem;
  line-height: 1;
}
main .headline .content {
  padding: 1em;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}
main .headline .content p {
  margin-bottom: 1em;
}
main .headline .cta-btn {
  background-color: hsl(5deg, 85%, 63%);
  padding: 0.8em 1.8em;
  margin-top: auto;
  color: hsl(36deg, 100%, 99%);
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: bold;
  align-self: flex-start;
}
main .headline .cta-btn:hover {
  background-color: hsl(240deg, 100%, 5%);
  cursor: pointer;
}
main .category {
  display: flex;
  gap: 1rem;
  margin-top: 2em;
}
main .category span {
  font-size: 2em;
  font-weight: 800;
  color: hsl(233deg, 8%, 79%);
}
main .category h3 {
  font-weight: 800;
  margin-block: 0.7em;
}
main .category h3:hover {
  color: hsl(5deg, 85%, 63%);
  cursor: pointer;
}
main .category .thumbnail-img {
  flex-shrink: 0;
}

@media (max-width: 768px) {
  body {
    padding: 1em !important;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5em;
  }
  header nav {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    background-color: white;
    height: 100%;
    padding: 2em 1.4em;
    z-index: 999;
  }
  header nav .close-menu {
    margin-bottom: 2em;
    text-align: right;
    display: block;
  }
  header nav .close-menu img {
    display: inline;
    cursor: pointer;
  }
  header ul {
    display: block;
  }
  header ul li {
    margin-bottom: 1.3em;
    margin-right: 4em;
    padding-right: 4em;
  }
  header .nav-icon {
    display: block;
    cursor: pointer;
  }
  body main,
body main .headline {
    display: block;
  }
  body main .content p,
body main .headline .content p {
    margin-block: 1em;
  }
  body main .cta-btn,
body main .headline .cta-btn {
    margin-top: 1.4em;
    margin-bottom: 4em;
  }
  body main aside {
    margin-bottom: 4em;
  }
  body main .content {
    padding: 0 !important;
  }
}
@media (max-width: 1137px) {
  aside {
    grid-column: span 2;
  }
}
body {
  padding: 2em;
  padding-inline: 5vw;
}
body.overlay::after {
  content: "";
  display: block;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

/*# sourceMappingURL=index.css.map */
