@forward 'globals';

body {
    padding: 2em;
    padding-inline: 6em;

    &.overlay::after {
        content: '';
        display: block;
        position: fixed;
        background-color: rgba(0 0 0 / .5);
        inset: 0;
    }
}

.hidden {
    display: none;
}

.show {
    display: block;
}