@use './variables' as *;

aside {
    background-color: $clr-dark-blue;
    color: $clr-grayish-blue;
    padding: 1.6em;
    margin-block: 4em;

    h2 {
        color: $clr-soft-orange;
        margin-bottom: 1.3em;
        font-size: 1.8rem;
    }

    h3 {
        margin-bottom: .6em;
        color: $clr-off-white;
    }

    p {
        margin: 0;
    }

    .news {

        &:not(:last-of-type) {
            border-bottom: 1px solid $clr-dark-grayish-blue;
            padding-bottom: 2em;
            margin-bottom: 2em;
        }
    }
}