*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter;
    min-height: 100vh;
}

button {
    font: inherit;
    display: block;
    border: none;
    background: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}