@use './variables' as *;

header {
    display: flex;
    padding-block: 2em;

    nav {
        margin-left: auto;

        .close-menu {
            display: none;
        }
    }

    ul {
        display: flex;
        gap: 2rem;
    }

    ul li:hover {
        cursor: pointer;
        color: $clr-soft-orange;
    }
}