@use './variables' as *;

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-flow:row;
    gap: 2em;

    aside {
        background-color: $clr-dark-blue;
        color: white;
        padding: 2em;

        h2 {
            color: $clr-soft-orange;
            font-size: 1.7rem;
            margin-bottom: 1em
        }

        .news {

            h3:hover {
                color: $clr-soft-orange;
                cursor: pointer;
            }

            &:not(:last-of-type) {
                border-bottom: 1px solid $clr-dark-grayish-blue;
                padding-bottom: 2em;
                margin-bottom: 2em;
            }

            h3 {
                margin-bottom: .5em;
            }
        }
    }

    .main-section {
        grid-column: span 2;
        padding: 0;
    }

    .headline {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 1.5em;

        h1 {
            font-size: 3.5rem;
            line-height: 1;
        }

        .content {
            padding: 1em;
            padding-bottom: 0;
            display: flex;
            flex-direction: column;
        }

        .content p {
            margin-bottom: 1em;
        }

        .cta-btn {
            background-color: $clr-soft-red;
            padding: .8em 1.8em;
            margin-top: auto;
            color: $clr-off-white;
            text-transform: uppercase;
            letter-spacing: .3em;
            font-weight: bold;
            align-self: flex-start;
    
            &:hover {
                background-color: $clr-dark-blue;
                cursor: pointer;
            }
        }
    }

    .category {
        display: flex;
        gap: 1rem;
        margin-top: 2em;

        span {
            font-size: 2em;
            font-weight: $fw-800;
            color: $clr-grayish-blue;
        }

        h3 {
            font-weight: $fw-800;
            margin-block: .7em;

            &:hover {
                color: $clr-soft-red;
                cursor: pointer;
            }
        }

        .thumbnail-img {
            flex-shrink: 0;
        }
    }
}