@media (max-width: 768px) {
    body {
        padding: 1em !important;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 1.5em;

        nav {
            position: fixed;
            top: 0;
            right: 0;
            display: none;
            background-color: white;
            height: 100%;
            padding: 2em 1.4em;
            z-index: 999;

            .close-menu {
                margin-bottom: 2em;
                text-align: right;
                display: block;

                img {
                    display: inline;
                    cursor: pointer;
                }
            }
        }

        ul {
            display: block;

            li {
                margin-bottom: 1.3em;
                margin-right: 4em;
                padding-right: 4em;
            }
        }
        
        .nav-icon {
            display: block;
            cursor: pointer;
        }
    }
    
    body main {

        &,
        .headline {
            display: block;

            .content p {
                margin-block: 1em;
            }

            .cta-btn {
                margin-top: 1.4em;
                margin-bottom: 4em;
            }
        }

        aside {
            margin-bottom: 4em;
        }

        .content {
            padding: 0 !important;
        }
    }
}