// color variables

$clr-soft-orange: hsl(35, 77%, 62%);
$clr-soft-red: hsl(5, 85%, 63%);

$clr-off-white: hsl(36, 100%, 99%);
$clr-grayish-blue: hsl(233, 8%, 79%);
$clr-dark-grayish-blue: hsl(236, 13%, 42%);
$clr-dark-blue: hsl(240, 100%, 5%);


// font variables

$ff-base: Inter;

$fs-base: 15px;

$fw-400: 400;
$fw-700: 700;
$fw-800: 800;